.aboutContainer {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  min-height: 100%;
  width: 90%;
  margin: auto;
  padding-top: 9rem;
  letter-spacing: 0.05rem;
  p {
    color: #777;
  }
  .two,
  .three {
    padding: 1.5rem;
    border-radius: 1rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Customize the box-shadow values */
    transition: box-shadow 0.3s ease-in-out;
    &:hover {
      box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); /* Customize the box-shadow values for hover effect */
    }
  }
  .heading1,
  .heading2 {
    font-weight: 500;
  }
  .heading1 {
    width: 100%;
    text-align: center;
    font-size: 3rem;
    margin-top: 0;
  }
  .heading2 {
    font-size: 2.5rem;
  }
  .content,
  .image {
    width: 48%;
  }
  .image {
    min-height: 100%;
    max-height: 100%;
    object-fit: cover;
  }
  .one {
    font-size: 1.8rem;
    font-style: italic;
  }
  .two {
    font-size: 1.6rem;
  }
  .three {
    font-size: 1.6rem;
  }
  .highlight {
    color: rgb(227, 108, 9);
  }
}

@media (max-width: 768px) {
  .aboutContainer {
    .content,
    .image {
      width: 100%;
    }
    .content {
      order: 1;
      padding-bottom: 1rem;
    }
  }
}
