.aboutContainer {
  --eca-font-size: 25rem;
  // display: flex;
  // justify-content: space-between;
  // flex-wrap: wrap;
  font-size: 2rem;
  min-height: 100%;
  width: 80%;
  margin: auto;
  padding-top: 9rem;
  .contentContainer {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin: auto;
    padding: 1rem 2rem;
    border-radius: 1rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Customize the box-shadow values */
    transition: box-shadow 0.3s ease-in-out;
    &:hover {
      box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); /* Customize the box-shadow values for hover effect */
    }
    .leftSection,
    .rightSection {
      width: 50%;
    }
    .leftSection {
      font-family: Roboto, sans-serif;
      color: #e2e8f0;
      font-size: var(--eca-font-size);
      display: flex;
      align-items: center;
    }
    .rightSection {
      text-align: center;
      h2 {
        margin: 0;
        margin-top: 0.5rem;
      }
    }
  }

  .heading1 {
    width: 100%;
    text-align: center;
    font-size: 6rem;
    margin-top: 0;
  }

  .teamSection {
    margin-bottom: 2rem;
    h3 {
      text-align: center;
    }
    .imagesList {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      // .imageContainer {

      // }
      .imageContainer {
        width: 40%;
        height: 40rem;
        .image {
          display: flex;
          align-items: center;
          justify-content: center;
          // width: 40rem;
          height: 80%;
          background-size: contain;
          background-repeat: no-repeat;
          background-size: cover;
          background-repeat: no-repeat;
          background-position: center center;
        }
        .name {
          position: relative;
          top: -3rem;
          opacity: 0;
          transition: all 0.3s;
        }
        .position {
          text-align: center;
          opacity: 0;
        }
        &:hover {
          .name,
          .position {
            top: 0;
            opacity: 1;
          }
        }
      }
    }
  }
}

@media (max-width: 1440px) {
  .aboutContainer {
    --eca-font-size: 19rem;
  }
}
@media (max-width: 1200px) {
  .aboutContainer {
    --eca-font-size: 15rem;
  }
}
@media (max-width: 900px) {
  .aboutContainer {
    --eca-font-size: 12rem;
  }
}

@media (max-width: 768px) {
  .teamSection {
    .imagesList {
      justify-content: center !important;
      .imageContainer {
        width: 100% !important;
        .image {
          background-size: cover;
          background-repeat: no-repeat;
          background-position: center center;
        }
      }
    }
  }
  .aboutContainer {
    .content,
    .image {
      width: 100%;
    }
    .content {
      order: 1;
      padding-bottom: 1rem;
    }
  }
  .aboutContainer .contentContainer {
    .leftSection,
    .rightSection {
      width: 100%;
      justify-content: center;
    }
  }
}
