.headerContainer {
  position: fixed;
  top: 0;
  z-index: 2;
  width: 100%;
  background-color: transparent;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  color: #fff;
  h3 {
    margin: 0;
  }
  .rightContainer {
    display: flex;
    align-items: center;
    gap: 1rem;
  }
}

.link {
  text-transform: capitalize;
}